.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.textCenter {
  text-align: center;
}

@media screen and (min-width: 996px) {
  .buttons {
    flex-direction: row;
  }

  .heroLogo {
    max-width: 20rem;
  }

  .heroDemo {
    max-width: 40rem;
    border-radius: 0.5rem;
  }
}
