name: "CI"

on:
  push:
    branches:
      - "**"

jobs:
  build:
    name: "Run CI pipeline"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [18, 20]
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 9
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: "pnpm"
      - run: pnpm i --frozen-lockfile
      - run: pnpm run ci

      - name: Coverage
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: false
